<?xml version="1.0"?>
<model>
    <name>photoscanned-rock-03_2K_6669afd9-de42-4d31-9b27-ec4e7f815039</name>
    <version>1.0</version>
    <sdf version="1.8">model.sdf</sdf>
    <author>
        <name>AI4Forest</name>
        <email>khalid.bourr@gmail.com</email>
    </author>
    <description>photoscanned-rock-03_2K_6669afd9-de42-4d31-9b27-ec4e7f815039 model</description>
</model>