<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Archimede">
	<xacro:macro name="rover_differential" params="name">
		
		<gazebo>
			<!-- THIS IS WITH TILT PLATE (START) -->
            <!-- <joint name="differential" type="gearbox">
                <parent>${name}_leg_right</parent>
                <child>${name}_tilt_plate</child>
                <gearbox_ratio>1</gearbox_ratio>
                <gearbox_reference_body>${name}_base_link</gearbox_reference_body>
                <axis>
                    <xyz>0 0 1</xyz>
                </axis>
                <axis2>
                    <xyz>0 1 0</xyz>
                </axis2>
            </joint>

            <joint name="differential1" type="gearbox">
                <parent>${name}_leg_left</parent>
                <child>${name}_tilt_plate</child>
                <gearbox_ratio>-1</gearbox_ratio>
                <gearbox_reference_body>${name}_base_link</gearbox_reference_body>
                <axis>
                    <xyz>0 0 1</xyz>
                </axis>
                <axis2>
                    <xyz>0 1 0</xyz>
                </axis2>
            </joint>
			
            <joint name="differential2" type="gearbox">
                <parent>${name}_leg_left</parent>
                <child>${name}_base_link</child>
                <gearbox_ratio>0.25</gearbox_ratio>
                <gearbox_reference_body>${name}_leg_right</gearbox_reference_body>
                <axis>
                    <xyz>1 0 0</xyz>
          			<use_parent_model_frame>true</use_parent_model_frame>
                </axis>
                <axis2>
                    <xyz>1 0 0</xyz>
          			<use_parent_model_frame>true</use_parent_model_frame>
                </axis2>
            </joint> -->
			<!-- THIS IS WITH TILT PLATE (END) -->

			<!-- THIS IS WITH SINGLE DIFF (START) -->
			<!-- <joint name="differential" type="gearbox">
                <parent>${name}_leg_left</parent>
                <child>${name}_leg_right</child>
                <gearbox_ratio>1</gearbox_ratio>
                <gearbox_reference_body>${name}_dummy_disk</gearbox_reference_body>
                <axis>
                    <xyz>0 1 0</xyz>
                </axis>
                <axis2>
                    <xyz>0 1 0</xyz>
                </axis2>
            </joint> -->
			<!-- THIS IS WITH SINGLE DIFF (END) -->
        </gazebo>

	</xacro:macro>
</robot>
