<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Archimede">
    <!-- 
        @author: Khalid Bourr
        @email: khalid.bourr@gmail.com

        @author: Simone Cottiga 
        @email: simone.cottiga@phd.units.it
        @email: smcotti@gmail.com
    -->
    <xacro:arg name="visualize_imu" default="true"/>
    <xacro:arg name="visualize_scan" default="true"/>
    <xacro:arg name="visualize_lidar" default="true"/>

	<xacro:macro name="rover_sensors" params="name add_velodyneHDL32E:=false">
    <!-- NOTE: the gz_frame_id block of each sensor will give a gazebo warning like this:
        [gz-2] Warning [Utils.cc:132] [/sdf/model[@name="Archimede"]/link[@name="Archimede_base_link"]/sensor[@name="rs_camera"]/gz_frame_id:<data-string>:L107]: XML Element[gz_frame_id], child of element[sensor], not defined in SDF. Copying[gz_frame_id] as children of [sensor].
        
        This is normal because the block is not a standard sdf element, but it is read instead by the sensors plugins in order to set 
        the correct frame_id in the gz msg (and ros msg through the bridge)
    -->

        <!-- IMU -->
        <gazebo reference="${name}_imu_link">
            <sensor name="imu" type="imu">
                <pose>0 0 0 0 0 0</pose>
                <always_on>true</always_on>
                <visualize>$(arg visualize_imu)</visualize>
                <update_rate>50</update_rate>
                <topic>${name}/imu</topic>
                <gz_frame_id>${name}_imu_link</gz_frame_id>
            </sensor>
            <material>Gazebo/Grey</material>
        </gazebo>

        <!-- LASER SCAN -->
        <gazebo reference="${name}_scan_link">
            <material>Gazebo/FlatBlack</material>
            <sensor name="lds_lfcd_sensor" type="gpu_lidar">
                <pose>0 0 0 0 0 0</pose>
                <visualize>$(arg visualize_scan)</visualize>
                <update_rate>10</update_rate>
                <gz_frame_id>${name}_scan_link</gz_frame_id>
                <lidar>
                    <scan>
                        <horizontal>
                            <samples>360</samples>
                            <resolution>1</resolution>
                            <min_angle>0.0</min_angle>
                            <max_angle>6.28319</max_angle>
                        </horizontal>
                        <vertical>
                            <samples>1</samples>
                            <resolution>1</resolution>
                            <min_angle>0</min_angle>
                            <max_angle>0</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.1</min>
                        <max>5</max>
                        <resolution>0.015</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </lidar>
                <topic>${name}/scan</topic>
            </sensor>
        </gazebo>

        <!-- RGBD CAMERA -->
        <gazebo reference="rs_d435i_link">
            <sensor name="rs_camera" type="rgbd_camera">
                <pose>0 0 0 0 0 0</pose>
                <always_on>1</always_on>
                <update_rate>30</update_rate>
                <gz_frame_id>rs_d435i_link</gz_frame_id>
                <camera name="rs_camera">
                    <horizontal_fov>1.50098</horizontal_fov>
                    <lens>
                        <intrinsics>
                            <!-- fx = fy = width / ( 2 * tan (hfov / 2 ) ) -->
                            <fx>343.159</fx>
                            <fy>343.159</fy>
                            <!-- cx = ( width - 1 ) / 2 -->
                            <cx>319.5</cx>
                            <!-- cy = ( height - 1 ) / 2 -->
                            <cy>179.5</cy>
                            <s>0</s>
                        </intrinsics>
                    </lens>
                    <distortion>
                        <k1>0.0</k1>
                        <k2>0.0</k2>
                        <k3>0.0</k3>
                        <p1>0.0</p1>
                        <p2>0.0</p2>
                        <center>0.5 0.5</center>
                    </distortion>
                    <image>
                        <width>640</width>
                        <height>360</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.01</near>
                        <far>300</far>
                    </clip>
                    <depth_camera>
                        <clip>
                        <near>0.1</near>
                        <far>10</far>
                        </clip>
                    </depth_camera>
                    <noise>
                        <type>gaussian</type>
                        <mean>0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
            </sensor>
        </gazebo>

        <!-- OPTIONAL 3D LIDAR -->
        <xacro:if value="$(arg add_velodyneHDL32E)">
            <!-- LINK / JOINT -->
            <link name="${name}_velodyne_link"/>
            <joint name="${name}_velodyne_joint" type="fixed">
                <parent link="${name}_base_link_dummy"/>
                <child link="${name}_velodyne_link"/>
                <origin xyz="0.09 0 0.3" rpy="0 0 0"/>
            </joint>
            <!-- SENSOR -->
            <gazebo reference="${name}_velodyne_link">
                <material>Gazebo/FlatBlack</material>
                <sensor name="velodyne" type="gpu_lidar">
                    <pose>0 0 0 0 0 0</pose>
                    <visualize>$(arg visualize_lidar)</visualize>
                    <update_rate>5</update_rate>
                    <gz_frame_id>${name}_velodyne_link</gz_frame_id>
                    <lidar>
                        <scan>
                            <horizontal>
                                <samples>360</samples>
                                <resolution>1</resolution>
                                <min_angle>0.0</min_angle>
                                <max_angle>6.28319</max_angle>
                            </horizontal>
                            <vertical>
                                <samples>32</samples>
                                <resolution>1</resolution>
                                <min_angle>-0.5236</min_angle>
                                <max_angle>0.1745</max_angle>
                            </vertical>
                        </scan>
                        <range>
                            <min>1</min>
                            <max>100</max>
                            <resolution>0.02</resolution>
                        </range>
                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.01</stddev>
                        </noise>
                    </lidar>
                    <topic>${name}/velodyne</topic>
                </sensor>
            </gazebo>
        </xacro:if>

    </xacro:macro>
</robot>
