<!-- 
     @author: Matteo Caruso
     @email: matteo.caruso@phd.units.it
     @email: matteo.caruso1993@gmail.com
 -->
 
<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Archimede" >
    <xacro:arg name="point_contact" default="true"/>
	<xacro:macro name="rover_wheel_hub" params="name side reflect1 reflect2 has_differential use_simple_wheel:=true">
		<xacro:property name="filename" value="$(find robot4ws_description)/urdf/config/wheel_hub.yaml"/>
		<xacro:property name="wheel_config" value="${load_yaml (filename)}"/>


		<!-- Manage reflection -->
        <!-- Get the legSide string (left/right) based on the value of reflect2 -->
		<xacro:if value="${reflect2==1}">
			<xacro:property name="legSide" value="left"/>
		</xacro:if>
		<xacro:if value="${reflect2==-1}">
			<xacro:property name="legSide" value="right"/>
		</xacro:if>


        <!-- Define here steer link-->
        <link name="${name}_${side}_steer_link">
            <inertial>
                <xacro:property name="tmp" value="${wheel_config['steer']['inertial']}"/>
                <origin xyz="${tmp['origin']['position']['x']} ${tmp['origin']['position']['y']} ${tmp['origin']['position']['z']}"
                rpy="${tmp['origin']['orientation']['roll']} ${tmp['origin']['orientation']['pitch']} ${tmp['origin']['orientation']['yaw']}"/>
                <mass value="${tmp['mass']}"/>
                <inertia ixx="${tmp['inertia']['ixx']}" iyy="${tmp['inertia']['iyy']}" izz="${tmp['inertia']['iyy']}" ixy="${tmp['inertia']['ixy']}" ixz="${tmp['inertia']['ixz']}" iyz="${tmp['inertia']['iyz']}"/>
            </inertial>

        </link>

        <!-- Define here steer joint -->
        <joint name="${name}_${side}_steer_joint" type="${wheel_config['steer_joint']['type']}">
            <xacro:property name="tmp" value="${wheel_config['steer_joint']}"/>
            <!-- Manage the position of the wheels with respect to the model (with/without differential) -->
            <!-- Without differential: wheel is attached to the body -->
            <xacro:unless value="${has_differential}">
                <origin xyz="${reflect1*tmp['origin']['position']['x']} ${reflect2*tmp['origin']['position']['y']} ${tmp['origin']['position']['z']}"
                    rpy="${tmp['origin']['orientation']['roll']} ${tmp['origin']['orientation']['pitch']} ${tmp['origin']['orientation']['yaw']+(reflect2 -1)*pi/2}"/>
                <parent link="${name}_base_link_dummy"/>
            </xacro:unless>
            <!-- With differential: wheel is attached to the leg -->
            <xacro:if value="${has_differential}">
                <origin xyz="${reflect1*tmp['origin']['position_withDifferential']['x']} ${reflect2*tmp['origin']['position_withDifferential']['y']} ${tmp['origin']['position_withDifferential']['z']}"
                    rpy="${tmp['origin']['orientation']['roll']} ${tmp['origin']['orientation']['pitch']} ${tmp['origin']['orientation']['yaw']+(reflect2 -1)*pi/2}"/>
                <parent link="${name}_leg_${legSide}"/>
            </xacro:if>
            <child link="${name}_${side}_steer_link"/>
            <axis xyz="0 0 1"/>
            <limit lower="-3.14" upper="3.14" velocity="1e6" effort="1e6"/>
        </joint>



        <!-- Define here wheel link -->
        <link name="${name}_${side}_wheel_link">
            <inertial>
                <xacro:property name="tmp" value="${wheel_config['drive']['inertial']}"/>
                <origin xyz="${tmp['origin']['position']['x']} ${tmp['origin']['position']['y']} ${tmp['origin']['position']['z']}"
                rpy="${tmp['origin']['orientation']['roll']} ${tmp['origin']['orientation']['pitch']} ${tmp['origin']['orientation']['yaw']}"/>
                <mass value="${tmp['mass']}"/>
                <inertia ixx="${tmp['inertia']['ixx']}" iyy="${tmp['inertia']['iyy']}" izz="${tmp['inertia']['iyy']}" ixy="${tmp['inertia']['ixy']}" ixz="${tmp['inertia']['ixz']}" iyz="${tmp['inertia']['iyz']}"/>
            </inertial>

            <visual>
                <xacro:property name="data" value="${wheel_config['drive']['visual']}"/>
                <xacro:if value="${data['mesh']}">
                    <!-- Use mesh for visualization -->
                    <xacro:property name="data_tmp" value="${data['origin_mesh']}"/>
                    <origin xyz="${data_tmp['position']['x']} ${data_tmp['position']['y']} ${data_tmp['position']['z']}"
                    rpy="${data_tmp['orientation']['roll']} ${data_tmp['orientation']['pitch']} ${data_tmp['orientation']['yaw']}"/>
                    <geometry>
                        <mesh filename="package://robot4ws_description/meshes/${data['filename']}" scale="${data['mesh_scale']['x']} ${data['mesh_scale']['y']} ${data['mesh_scale']['z']}"/>
                    </geometry>
                    <material name="gray"/>
                </xacro:if>

                <xacro:unless value="${data['mesh']}">
                    <!-- Use box as simple geometry visualization -->
                    <xacro:property name="data_tmp" value="${data['origin_simple_geom']}"/>
                    <origin xyz="${data_tmp['position']['x']} ${data_tmp['position']['y']} ${data_tmp['position']['z']}"
                    rpy="${data_tmp['orientation']['roll']} ${data_tmp['orientation']['pitch']} ${data_tmp['orientation']['yaw']}"/>
                    <geometry>
                        <cylinder radius="${wheel_config['drive']['geom']['radius']}" length="${wheel_config['drive']['geom']['length']}"/>
                    </geometry>
                    <material name="gray"/>
                </xacro:unless>
            </visual>
            <collision>
                <xacro:property name="data" value="${wheel_config['drive']['visual']}"/>
                <xacro:unless value="${use_simple_wheel}">
                    <!-- Use mesh for visualization -->
                    <xacro:property name="data_tmp" value="${data['origin_mesh']}"/>
                    <origin xyz="${data_tmp['position']['x']} ${data_tmp['position']['y']} ${data_tmp['position']['z']}"
                    rpy="${data_tmp['orientation']['roll']} ${data_tmp['orientation']['pitch']} ${data_tmp['orientation']['yaw']}"/>
                    <geometry>
                        <mesh filename="package://robot4ws_description/meshes/${data['filename']}" scale="${data['mesh_scale']['x']} ${data['mesh_scale']['y']} ${data['mesh_scale']['z']}"/>
                    </geometry>
                </xacro:unless>

                <xacro:if value="${use_simple_wheel}">
                    <!-- Use box as simple geometry visualization -->
                    <xacro:property name="data_tmp" value="${data['origin_simple_geom']}"/>
                    <origin xyz="${data_tmp['position']['x']} ${data_tmp['position']['y']} ${data_tmp['position']['z']}"
                    rpy="${data_tmp['orientation']['roll']} ${data_tmp['orientation']['pitch']} ${data_tmp['orientation']['yaw']}"/>
                    <xacro:unless value="$(arg point_contact)">
                        <geometry>
                            <cylinder radius="${wheel_config['drive']['geom']['radius']}" length="0.001"/> <!-- "${wheel_config['drive']['geom']['length']}"/> -->
                        </geometry>
                    </xacro:unless>
                    <xacro:if value="$(arg point_contact)">
                        <geometry>
                            <sphere radius="${wheel_config['drive']['geom']['radius']}"/>
                        </geometry>
                    </xacro:if>
                </xacro:if>
                <surface>
                    <friction>
                        <ode>
                            <!-- <mu>100.0</mu>
                            <mu2>100.0</mu2> -->
                        </ode>
                    </friction>
                    <contact>
                        <ode>
                            <!-- <kp>1e8</kp>
                            <kd>1</kd>
                            <min_depth>0.001</min_depth> -->
                        </ode>
                    </contact>
                </surface>
            </collision>
        </link>


        <!-- Define here drive joint (RIVEDERE) --> 

        <joint name="${name}_${side}_drive_joint" type="${wheel_config['drive_joint']['type']}">
            <xacro:property name="tmp" value="${wheel_config['drive_joint']}"/>
            
            <origin xyz="${reflect1*tmp['origin']['position']['x']} ${reflect2*tmp['origin']['position']['y']} ${tmp['origin']['position']['z']}"
                rpy="${tmp['origin']['orientation']['roll']} ${tmp['origin']['orientation']['pitch']} ${tmp['origin']['orientation']['yaw']}"/>
            <parent link="${name}_${side}_steer_link"/>
            <child link="${name}_${side}_wheel_link"/>
            <axis xyz="0 1 0"/>
        </joint>


        <gazebo reference="${name}_${side}_wheel_link">
            <material>Gazebo/Gray</material>
        </gazebo>


    <!-- Define here the transmission -->
        <transmission name="${name}_${side}_drive_transmission}">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${name}_${side}_drive_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${name}_${side}_drive_actuator}">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${name}_${side}_steer_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${name}_${side}_steer_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${name}_${side}_steer_actuator">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

    </xacro:macro>
</robot>
