<launch>

    <arg name="model" default="$(find robot4ws_description)/urdf/rover.urdf.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <node name="archimede_rviz_node" pkg="rviz" type="rviz" args="-d $(find robot4ws_description)/rviz/default.rviz"/>

</launch>
